@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.notice {
  background: rgba(153,153,153,0.094);
  padding: 20px;
  font-size: 0.8em;
  border-radius: 3px;
  border-left: 5px solid #585858;
  margin: 10px auto;
}
.notice p {
  margin: 0px 0px 5px;
}
.post .hidden {
  display: none;
}
hr {
  margin: 30px auto;
  max-width: 300px;
  border: 2px solid;
  margin: 30px auto;
  border-radius: 10px;
  height: 0px;
  background: none;
}
