:root {
    --theme-neg-color: #d92f2f;
}

.theme-fandomdesktop-light {
    --theme-neg-color: #d92f2f;
}

.theme-fandomdesktop-dark {
    --theme-neg-color: #ff6f6f;
}


#rail-bookmarks{
    position: relative;
}

#rail-bookmarks ul li:last-child{
    font-size: 0.9em;
    text-align: right;
}

[href="#bookmark"]{
    position: absolute;
    font-size: 12px;
    color: var(--theme-link-color);
    border: solid 2px var(--theme-link-color);
    text-align: center;
    display: block;
    padding: 2px 10px;
    border-radius: 5px;
    transition: all 0.2s ease;
    top: 0px;
    right: 20px;
}

[href="#bookmark"]:hover{
    background: var(--theme-link-color);
    color: var(--theme-infobox-background-color);
    text-decoration: none;
}

[href="#bookmark"]:active{
    background: var(--theme-link-color);
    color: var(--theme-infobox-background-color);
    text-decoration: none;
}

.bookmarked[href="#bookmark"]{
    --theme-link-color: var(--theme-neg-color);
}

[href="#removeBookmark"]{
    font-size: 0.8em;
    margin-left: 5px;
    color: var(--theme-neg-color);
}

[href="#removeBookmark"]:hover{
    color: var(--theme-neg-color);
}

[href="#removeBookmark"]:active{
    color: var(--theme-neg-color);
}