.boxContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0;
    justify-content: center;
    gap: 1em;
}

.boxContainer > div {
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 1ex;
    padding: 0.1em;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 0 3px rgba(0,0,0,.35);
}

.boxContainer > div > div > div > a > img {
    border-radius: 1ex 1ex 0 0;
    
}

.boxContainer > div:hover {
    transform:scale(1.05);
}

.classLabel {
    position: absolute;
    letter-spacing: 0px;
    font-size: 9px;
    line-height: 1;
    padding: .5em 0.7em;
    margin-top: -15px;
    background-color: inherit;
    border-radius: 0ex 1ex 0ex 0ex;
}

.boxContainer > div > div:nth-child(3){
    margin:0.3em 0.7em 0.7em 0.7em;
}