@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,800;0,900;1,700;1,800;1,900&display=swap');

.background-cover {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    min-height: 550px;
    max-height: 700px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.background-cover img {
    width: unset !important;
    height: unset !important;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 550px;
}

.home-wrapper {
    max-width: 1280px;
    padding: 0px 40px;
    margin: -100px auto 0px auto;
}

@keyframes flyUpwards {
    0% {
        transform: translateY(0.5em);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes flyLeftwards {
    0% {
        transform: translateX(10%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slideUpwards {
    0% {
        transform: translateY(300%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes peek {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(90%);
    }
}

.home-title {
    animation: 1s cubic-bezier(.03, .66, .09, .99) 0s 1 forwards flyUpwards;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 36pt !important;
    font-weight: 800 !important;
    line-height: 105.4% !important;
    letter-spacing: 7px;
    margin-bottom: 0px !important;
}

span.line {
    display: inline-block;
}

.home-subtitle {
    opacity: 0;
    animation: 1s cubic-bezier(.03, .66, .09, .99) 0.3s 1 forwards flyUpwards;
    font-family: 'Rubik', sans-serif;
    font-size: 11pt !important;
    font-weight: 900 !important;
    line-height: 105.4% !important;
    letter-spacing: 3px;
    margin: 13px 0px !important;
}

.home-navi-wrapper {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    gap: 12px;
    overflow: hidden;
}

.home-navi-button,
.home-navi-button a {
    font: 800 11pt 'Montserrat', sans-serif !important;
    letter-spacing: 3px;
    color: white !important;
    transition: letter-spacing .2s ease;
}

.home-navi-button {
    transform: translateY(300%);
    display: inline-block;
    padding: 8px 30px;
    flex-grow: 1;
    width: 30%;
    position: relative;
}

#home-navi-button1 {
    animation: 1s cubic-bezier(.03, .66, .09, .99) 0.4s 1 forwards slideUpwards;
}

#home-navi-button2 {
    animation: 1s cubic-bezier(.03, .66, .09, .99) 0.5s 1 forwards slideUpwards;
}

#home-navi-button3 {
    animation: 1s cubic-bezier(.03, .66, .09, .99) 0.6s 1 forwards slideUpwards;
}

.home-navi-button:hover>a,
.home-gameplay-option:hover>a {
    letter-spacing: 5px;
    text-decoration: none !important;
}

.home-navi-button:hover {
    transform: translateY(-5%);
}

.home-navi-button:active>a,
.home-gameplay-option:active>a {
    letter-spacing: 4px;
    text-decoration: none !important;
}

.home-gameplay-option-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(90%);
    animation: 1s cubic-bezier(.03, .66, .09, .99) 1s 1 backwards peek;
    transition: transform 0.6s cubic-bezier(.03, .66, .09, .99);
}

.home-gameplay-option-wrapper a {
    opacity: 0.6;
    transition: all 1s cubic-bezier(.03, .66, .09, .99);
}

#home-navi-button1 {
    overflow: hidden;
}

#home-navi-button1:hover div {
    transform: translateY(0%);
}

.home-gameplay-option {
    transition: all 1s cubic-bezier(.03, .66, .09, .99);
    padding: 8px 25px;
    flex: 1 1 50%;
}

.home-gameplay-option:hover {
    flex: 10 1 70%;
}

.home-gameplay-option:hover a {
    opacity: 1;
    letter-spacing: 7px;
    text-decoration: none;
}

.home-contents {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.home-left {
    animation: 1s cubic-bezier(.03, .66, .09, .99) 0.8s 1 forwards flyUpwards;
    opacity: 0;
    flex: 2 0 60%;
}

.home-right {
    animation: 1s cubic-bezier(.03, .66, .09, .99) 0.8s 1 forwards flyLeftwards;
    opacity: 0;
    flex: 1 0 30%;
    min-width: 260px;
}

.home-widget-title {
    font: 800 10pt 'Montserrat', sans-serif !important;
    letter-spacing: 3px;
    display: block;
    margin-bottom: 22px !important;
}

.home-widget-title::after {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--theme-page-text-color);
    margin-top: 7px;
    width: 50px;
    height: 3px;
}

#home-start span::after {
    background-color: #FF9543;
}

#home-featured span::after {
    background-color: #FF4C55;
}

#home-contribute span::after {
    background-color: #343682;
}

#home-start {
    flex: 3 1 30%;
    min-width: 240px;
}

#home-featured {
    flex: 4 1 40%;
    min-width: 320px;
}

#home-contribute {
    flex: 4 1 40%;
    min-width: 320px;
}

.home-widget,
.home-widget-sidebar {
    margin-bottom: 30px;
}

.home-birthday-char {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.home-birthday-icon {
    flex-grow: 0;
}

.home-birthday-text {
    margin-left: 15px;
    line-height: 1.4;
}

.home-birthday-name {
    font: 700 13pt 'Rubik', sans-serif !important;
}

.home-birthday-date {
    font: 500 11pt 'Rubik', sans-serif !important;
}

.home-widget ul,
.home-widget-sidebar ul {
    list-style-type: none;
    margin: 0;
}

.home-widget ul li,
.home-widget-sidebar ul li,
.home-birthday-char {
    transition: margin 1s cubic-bezier(.03, .66, .09, .99);
}

.home-widget ul li::before,
.home-widget-sidebar ul li::before {
    content: '>';
    font: 700 14px 'Montserrat', sans-serif !important;
    margin-right: 10px;
}

.home-widget ul li:hover,
.home-widget-sidebar ul li:hover,
.home-birthday-char:hover {
    margin-left: 15px;
}

.home-widget ul li a,
.home-widget-sidebar ul li a {
    text-decoration: none !important;
}

.home-widget-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.home-widget-wrapper div {
    flex: 1 1 30%;
    min-width: 260px;
}

.db-banner {
    transform: none !important;
}