@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,800;0,900;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700;900&display=swap');

.theme-fandomdesktop-light {
    --theme-infobox-main-color: #0C195C;
    --theme-infobox-main-light-color: #0C195C11;
    --theme-infobox-accent-color: #FCF000;
    --theme-infobox-background-color: #FFFFFF;
}

.theme-fandomdesktop-dark {
    --theme-infobox-main-color: #FFFFFF;
    --theme-infobox-main-light-color: #FFFFFF11;
    --theme-infobox-accent-color: #1d3dc0;
    --theme-infobox-background-color: #101010;
}

.portable-infobox.pi-theme-eichi-color::before  { --theme-color-character-color: #FFF3B7; }
.portable-infobox.pi-theme-wataru-color::before { --theme-color-character-color: #A0D7E2; }
.portable-infobox.pi-theme-tori-color::before   { --theme-color-character-color: #F4B2B2; }
.portable-infobox.pi-theme-yuzuru-color::before { --theme-color-character-color: #3E62AC; }
.portable-infobox.pi-theme-hokuto-color::before { --theme-color-character-color: #0067B6; }
.portable-infobox.pi-theme-subaru-color::before { --theme-color-character-color: #F4981C; }
.portable-infobox.pi-theme-makoto-color::before { --theme-color-character-color: #65AB31; }
.portable-infobox.pi-theme-mao-color::before    { --theme-color-character-color: #951E56; }
.portable-infobox.pi-theme-chiaki-color::before { --theme-color-character-color: #E70032; }
.portable-infobox.pi-theme-kanata-color::before { --theme-color-character-color: #008DB6; }
.portable-infobox.pi-theme-tetora-color::before { --theme-color-character-color: #312834; }
.portable-infobox.pi-theme-midori-color::before { --theme-color-character-color: #005340; }
.portable-infobox.pi-theme-shinobu-color::before{ --theme-color-character-color: #FEDC00; }
.portable-infobox.pi-theme-hiiro-color::before  { --theme-color-character-color: #BA2634; }
.portable-infobox.pi-theme-aira-color::before   { --theme-color-character-color: #F1D796; }
.portable-infobox.pi-theme-mayoi-color::before  { --theme-color-character-color: #522F5F; }
.portable-infobox.pi-theme-tatsumi-color::before{ --theme-color-character-color: #7EBDA6; }
.portable-infobox.pi-theme-nagisa-color::before { --theme-color-character-color: #A83638; }
.portable-infobox.pi-theme-hiyori-color::before { --theme-color-character-color: #B7D201; }
.portable-infobox.pi-theme-ibara-color::before  { --theme-color-character-color: #74325D; }
.portable-infobox.pi-theme-jun-color::before    { --theme-color-character-color: #1A2F61; }
.portable-infobox.pi-theme-shu-color::before    { --theme-color-character-color: #E5ABAF; }
.portable-infobox.pi-theme-mika-color::before   { --theme-color-character-color: #006A6D; }
.portable-infobox.pi-theme-hinata-color::before { --theme-color-character-color: #EB6FA2; }
.portable-infobox.pi-theme-yuta-color::before   { --theme-color-character-color: #00A1E8; }
.portable-infobox.pi-theme-rinne-color::before  { --theme-color-character-color: #BA2636; }
.portable-infobox.pi-theme-himeru-color::before { --theme-color-character-color: #8AC3EB; }
.portable-infobox.pi-theme-kohaku-color::before { --theme-color-character-color: #F3B3C2; }
.portable-infobox.pi-theme-niki-color::before   { --theme-color-character-color: #507EA5; }
.portable-infobox.pi-theme-rei-color::before    { --theme-color-character-color: #46266E; }
.portable-infobox.pi-theme-kaoru-color::before  { --theme-color-character-color: #FDD25D; }
.portable-infobox.pi-theme-koga-color::before   { --theme-color-character-color: #C9C9C9; }
.portable-infobox.pi-theme-adonis-color::before { --theme-color-character-color: #915DA3; }
.portable-infobox.pi-theme-tomoya-color::before { --theme-color-character-color: #EDDDB3; }
.portable-infobox.pi-theme-nazuna-color::before { --theme-color-character-color: #FFED48; }
.portable-infobox.pi-theme-mitsuru-color::before{ --theme-color-character-color: #ED6D34; }
.portable-infobox.pi-theme-hajime-color::before { --theme-color-character-color: #CBB8D9; }
.portable-infobox.pi-theme-keito-color::before  { --theme-color-character-color: #316645; }
.portable-infobox.pi-theme-kuro-color::before   { --theme-color-character-color: #E83929; }
.portable-infobox.pi-theme-souma-color::before  { --theme-color-character-color: #5554A2; }
.portable-infobox.pi-theme-tsukasa-color::before{ --theme-color-character-color: #952242; }
.portable-infobox.pi-theme-leo-color::before    { --theme-color-character-color: #ED6D52; }
.portable-infobox.pi-theme-izumi-color::before  { --theme-color-character-color: #BADBF2; }
.portable-infobox.pi-theme-ritsu-color::before  { --theme-color-character-color: #001E44; }
.portable-infobox.pi-theme-arashi-color::before { --theme-color-character-color: #ECDF7B; }
.portable-infobox.pi-theme-natsume-color::before{ --theme-color-character-color: #D60132; }
.portable-infobox.pi-theme-tsumugi-color::before{ --theme-color-character-color: #00608D; }
.portable-infobox.pi-theme-sora-color::before   { --theme-color-character-color: #FFF353; }
.portable-infobox.pi-theme-madara-color::before { --theme-color-character-color: #622D18; }
.portable-infobox.pi-theme-jin-color::before    { --theme-color-character-color: #8DA0B6; }
.portable-infobox.pi-theme-akiomi-color::before { --theme-color-character-color: #915C8B; }
.portable-infobox.pi-theme-anzu-color::before   { --theme-color-character-color: #FFB6DA; }
.portable-infobox.pi-theme-seiya-color::before  { --theme-color-character-color: #292b3c; }
.portable-infobox.pi-theme-gatekeeper-color::before { --theme-color-character-color: #5f2222; }

/* Infobox */
.portable-infobox.pi-background:not(.pi-theme-lyrics) {
    border-radius: 15px 5px;
    margin: 0px 8px 15px 15px;
    position: relative;
    width: 300px;
    padding-left: 10px;
    padding-top: 5px;
    background: var(--theme-infobox-background-color);
    border: solid 2px var(--theme-infobox-main-color);
}

.portable-infobox.pi-background:not(.pi-theme-lyrics)::before {
    clip-path: inset(0px 0px 0px 0px round 13px 3px);
    border-left: solid 10px var(--theme-color-character-color);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    pointer-events: none;
}

.portable-infobox.pi-background:not(.pi-theme-lyrics)::after {
    border-radius: 15px 5px;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    pointer-events: none;
    opacity: 0.2;
    box-shadow: 8px 8px 0px 0px var(--theme-infobox-main-color);
}

/* Spacing */
.portable-infobox .pi-item-spacing {
    padding: 6px 15px;
}

.portable-infobox .wds-tabs__wrapper {
    padding: 0px 15px;
}

/* Title */
.portable-infobox .pi-title {
    background: none !important;
    font: 900 italic 20px/130% Montserrat, 'Noto Sans JP', sans-serif;
    color: var(--theme-infobox-main-color);
    padding: 12px 15px 6px;
    position: relative;
    text-align: left !important;
}

.portable-infobox .pi-title .infobox-char-name {
    position: relative;
    text-decoration: none;
    background: linear-gradient(var(--theme-infobox-accent-color), var(--theme-infobox-accent-color)) left bottom no-repeat;
    background-size: 100% 0.45em;
}

/* Data */
.portable-infobox .pi-border-color {
    border-color: var(--theme-infobox-main-light-color);
}

/* Image */
.portable-infobox .pi-image {
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
}

/* Group */
.portable-infobox .pi-horizontal-group-item {
    padding: 4px;
    border: solid 1px #0C195C11;
}

.portable-infobox .pi-horizontal-group {
    border-bottom: solid 1px #0C195C11 !important;
}

/* Header */
.portable-infobox .pi-header {
    padding: 10px 15px;
    font: 700 14px/130% Montserrat, 'Noto Sans JP', sans-serif;
    text-align: left;
    background-color: var(--theme-infobox-main-light-color);
    color: var(--theme-infobox-main-color);
    border: none;
}

/* Navigation */
.portable-infobox .pi-navigation {
    background-color: unset;
    color: unset;
}

/* Panel */
.wds-tabs__tab.wds-is-current {
    box-shadow: inset 0 -5px 0 0 var(--theme-infobox-accent-color);
}

/*horizontal group*/
/*-----!&!! selection options-----*/
.portable-infobox [data-item-name="character-era-select"] > .wds-tabs__wrapper .wds-tabs__tab.wds-is-current {
    background-color: var(--theme-infobox-main-color);
    color: var(--theme-infobox-background-color);
}

.portable-infobox [data-item-name="character-era-select"] > .wds-tabs__wrapper .wds-tabs__tab .wds-tabs__tab-label {
    font: 900 italic 17px Montserrat, 'Noto Sans JP', sans-serif;
    margin: 0px;
    display: block;
}

.portable-infobox [data-item-name="character-era-select"] > .wds-tabs__wrapper {
    margin: 5px 0px 0px;
    text-align: right;
}

.portable-infobox [data-item-name="character-era-select"] > .wds-tabs__wrapper .wds-tabs {
    display: inline-flex;
    align-items: center;
}

.portable-infobox [data-item-name="character-era-select"] > .wds-tabs__wrapper .wds-tabs__tab {
    width: 30px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    background-color: transparent;
    border: solid 2px var(--theme-infobox-main-color);
    overflow: hidden;
    box-shadow: none;
}

.portable-infobox [data-item-name="character-era-select"] > .wds-tabs__wrapper .wds-tabs .wds-tabs__tab:first-child {
    margin-right: 0.4em;
}

.portable-infobox [data-item-name="character-era-select"] > .wds-tabs__wrapper .wds-tabs::before {
    content: 'View profile from ';
    font: 700 italic 12px/12px Montserrat, 'Noto Sans JP', sans-serif;
    margin-right: 6px;
    color: var(--theme-infobox-main-color);
    vertical-align: middle;
}

/*** start of Template:Infobox Character ***/
.portable-infobox [data-item-name="character-era-select"] .wds-tab__content h2:nth-child(2),
.portable-infobox [data-item-name="character-era-select"] .wds-tab__content h2:nth-child(4) {
    background: transparent;
}

.portable-infobox [data-item-name="character-era-select"] .wds-tab__content .pi-horizontal-group img {
    max-width: 100%;
    height: auto;
}

.portable-infobox[data-item-name="Infobox Character !!"] h2:nth-child(2),
.portable-infobox[data-item-name="Infobox Character !!"] h2:nth-child(4) {
    background: transparent;
}

.portable-infobox[data-item-name="Infobox Character !!"] .pi-horizontal-group img {
    max-width: 100%;
    height: auto;
}


/*** end of Template:Infobox Character ***/
/*** start of Template:Lyrics ***/
.pi-theme-lyrics.portable-infobox {
    width: auto;
    float: none;
    background: transparent;
    border: none;
}

.pi-theme-lyrics .pi-data {
    width: 100%;
    margin: 0 auto;
}

.pi-theme-lyrics .pi-section-navigation {
    margin-bottom: 1em;
}

.pi-theme-lyrics .pi-section-label {
    font-size: 16px;
}

.pi-theme-lyrics.portable-infobox .pi-header {
    display: none;
}

.pi-theme-lyrics .pi-data-value {
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
    text-align: center;
}

/*** end of Template:Lyrics ***/