/* Type your CSS code here. */
.character-render-full {
  display: block;;
  position: relative;
}

.character-render-full img {
  display: block;
}

.character-render-full::after {
  content: attr(data-char-name);
  font: 14px Rubik;
}

.character-render-icon img {
  width:50px;
    
    min-width:30px !important;
}

.render-maximized .character-render-full{
    display:block;
}
.render-maximized .character-render-icon{
    display:none;
}

.render-minimized .character-render-icon{
    display:block;
}
.render-minimized .character-render-full{
    display:none;
}