.render-minimized .article-table {
    border: none;
}

.render-minimized .article-table tr {
    display:block;
    margin-bottom: 15px;
    text-align: center;
}

.render-minimized .article-table tr td {
    border: none;
    vertical-align: top;
    padding: 0px 10px;
}

.render-minimized .article-table tr td[colspan="2"] {
    padding-left: 80px;
}

.render-minimized .article-table tr th[colspan="2"] {
    border:none;
    display: inline-block;
    padding: 3px 40px;
    border-radius: 20px;
}

.render-minimized .article-table tr td[colspan="2"] img {
    border-radius: 10px;
}

.render-minimized .article-table tr td p {
    background-color: var(--theme-infobox-main-light-color);
    padding: 10px 15px;
    display:table;
    border-collapse: separate; 
    margin: 0px 0px 5px 0px;
    border-radius: 10px;
    transition: 0.15s all ease;
}

.render-minimized .article-table tr td p:hover {
    margin-left: 2px;
}

.render-minimized .article-table tr td p:first-child {
    margin-top: 16px;
    border-radius: 2px 10px 10px;
}

.render-minimized .article-table tr td:first-child div[alt] {
    position:relative;
}

.render-minimized .article-table tr td:first-child div[alt]::after {
    content: attr(alt);
    position:absolute;
    left:70px;
    white-space:nowrap;
    font: 700 10.5px Rubik;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.6;
}