@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

.tumblrify .page__main {
    background: white !important;
}

.tumblrify{
    max-width: 500px;
    margin: 0px auto;
    border: none;
}

.tumblrify tr {
    overflow: hidden;
    position: relative;
    padding: 20px 0px;
    border-top: solid 2px #0001;
    display: block;
}


.tumblrify tr td {
    border: none;
    padding: 0px;
}

.tumblrify tr td:nth-child(1) {
    position: absolute;
    height: 100%;
    overflow: hidden;
    right: 0px;
    width: 100%;
}

.tumblrify tr td:nth-child(2) {
    padding-top: 45px;
    display: block;
    min-height: 100px;
    max-width: 300px;
    text-transform: lowercase;
}
.tumblrify tr.pi-theme-natsume-color td:nth-child(2) {
    text-transform: none;
}
.tumblrify tr.pi-theme-natsume-color td:nth-child(2) *::first-letter {
    text-transform: lowercase;
}
.tumblrify tr td:nth-child(2) p {
    font: 500 1em/1.4em 'DM Sans', sans-serif !important;
}

.tumblrify .character-render-icon{
    position: absolute;
}

.tumblrify .character-render-icon img{
    width: 35px;
    border-radius: 5px;
}

.tumblrify .character-render-icon::after{
    content: attr(username);
    margin-left: 10px;
    font: 700 1em 'DM Sans', sans-serif;
}

.tumblrify .character-render-full{
    position: absolute;
    right: 0px;
}