[character="Eichi"] {
    --q-character-color: #FFF3B7;
    --q-character-color__light: #FFF3B7;
    --q-character-color__dark: #FFF3B7;
}
[character="Wataru"] {
    --q-character-color: #A0D7E2;
    --q-character-color__light: #A0D7E2;
    --q-character-color__dark: #A0D7E2;
}
[character="Tori"] {
    --q-character-color: #F4B2B2;
    --q-character-color__light: #F4B2B2;
    --q-character-color__dark: #F4B2B2;
}
[character="Yuzuru"] {
    --q-character-color: #3E62AC;
    --q-character-color__light: #3E62AC;
    --q-character-color__dark: #3E62AC;
}
[character="Hokuto"] {
    --q-character-color: #0067B6;
    --q-character-color__light: #0067B6;
    --q-character-color__dark: #0067B6;
}
[character="Subaru"] {
    --q-character-color: #F4981C;
    --q-character-color__light: #F4981C;
    --q-character-color__dark: #F4981C;
}
[character="Makoto"] {
    --q-character-color: #65AB31;
    --q-character-color__light: #65AB31;
    --q-character-color__dark: #65AB31;
}
[character="Mao"] {
    --q-character-color: #951E56;
    --q-character-color__light: #951E56;
    --q-character-color__dark: #951E56;
}
[character="Chiaki"] {
    --q-character-color: #E70032;
    --q-character-color__light: #E70032;
    --q-character-color__dark: #E70032;
}
[character="Kanata"] {
    --q-character-color: #008DB6;
    --q-character-color__light: #008DB6;
    --q-character-color__dark: #008DB6;
}
[character="Tetora"] {
    --q-character-color: #312834;
    --q-character-color__light: #312834;
    --q-character-color__dark: #312834;
}
[character="Midori"] {
    --q-character-color: #005340;
    --q-character-color__light: #005340;
    --q-character-color__dark: #005340;
}
[character="Shinobu"] {
    --q-character-color: #FEDC00;
    --q-character-color__light: #FEDC00;
    --q-character-color__dark: #FEDC00;
}
[character="Hiiro"] {
    --q-character-color: #BA2634;
    --q-character-color__light: #BA2634;
    --q-character-color__dark: #BA2634;
}
[character="aira"] {
    --q-character-color: #F1D796;
    --q-character-color__light: #F1D796;
    --q-character-color__dark: #F1D796;
}
[character="Mayoi"] {
    --q-character-color: #522F5F;
    --q-character-color__light: #522F5F;
    --q-character-color__dark: #522F5F;
}
[character="Tatsumi"] {
    --q-character-color: #7EBDA6;
    --q-character-color__light: #7EBDA6;
    --q-character-color__dark: #7EBDA6;
}
[character="Nagisa"] {
    --q-character-color: #A83638;
    --q-character-color__light: #A83638;
    --q-character-color__dark: #A83638;
}
[character="Hiyori"] {
    --q-character-color: #B7D201;
    --q-character-color__light: #B7D201;
    --q-character-color__dark: #B7D201;
}
[character="Ibara"] {
    --q-character-color: #74325D;
    --q-character-color__light: #74325D;
    --q-character-color__dark: #74325D;
}
[character="Jun"] {
    --q-character-color: #1A2F61;
    --q-character-color__light: #1A2F61;
    --q-character-color__dark: #1A2F61;
}
[character="Shu"] {
    --q-character-color: #E5ABAF;
    --q-character-color__light: #E5ABAF;
    --q-character-color__dark: #E5ABAF;
}
[character="Mika"] {
    --q-character-color: #006A6D;
    --q-character-color__light: #006A6D;
    --q-character-color__dark: #006A6D;
}
[character="Hinata"] {
    --q-character-color: #EB6FA2;
    --q-character-color__light: #EB6FA2;
    --q-character-color__dark: #EB6FA2;
}
[character="Yuta"] {
    --q-character-color: #00A1E8;
    --q-character-color__light: #00A1E8;
    --q-character-color__dark: #00A1E8;
}
[character="Rinne"] {
    --q-character-color: #BA2636;
    --q-character-color__light: #BA2636;
    --q-character-color__dark: #BA2636;
}
[character="HiMERU"] {
    --q-character-color: #8AC3EB;
    --q-character-color__light: #8AC3EB;
    --q-character-color__dark: #8AC3EB;
}
[character="Kohaku"] {
    --q-character-color: #F3B3C2;
    --q-character-color__light: #F3B3C2;
    --q-character-color__dark: #F3B3C2;
}
[character="Niki"] {
    --q-character-color: #507EA5;
    --q-character-color__light: #507EA5;
    --q-character-color__dark: #507EA5;
}
[character="Rei"] {
    --q-character-color: #46266E;
    --q-character-color__light: #46266E;
    --q-character-color__dark: #46266E;
}
[character="Kaoru"] {
    --q-character-color: #FDD25D;
    --q-character-color__light: #FDD25D;
    --q-character-color__dark: #FDD25D;
}
[character="Koga"] {
    --q-character-color: #C9C9C9;
    --q-character-color__light: #C9C9C9;
    --q-character-color__dark: #C9C9C9;
}
[character="Adonis"] {
    --q-character-color: #915DA3;
    --q-character-color__light: #915DA3;
    --q-character-color__dark: #915DA3;
}
[character="Tomoya"] {
    --q-character-color: #EDDDB3;
    --q-character-color__light: #EDDDB3;
    --q-character-color__dark: #EDDDB3;
}
[character="Nazuna"] {
    --q-character-color: #FFED48;
    --q-character-color__light: #FFED48;
    --q-character-color__dark: #FFED48;
}
[character="Mitsuru"] {
    --q-character-color: #ED6D34;
    --q-character-color__light: #ED6D34;
    --q-character-color__dark: #ED6D34;
}
[character="Hajime"] {
    --q-character-color: #CBB8D9;
    --q-character-color__light: #CBB8D9;
    --q-character-color__dark: #CBB8D9;
}
[character="Keito"] {
    --q-character-color: #316645;
    --q-character-color__light: #316645;
    --q-character-color__dark: #316645;
}
[character="Kuro"] {
    --q-character-color: #E83929;
    --q-character-color__light: #E83929;
    --q-character-color__dark: #E83929;
}
[character="Souma"] {
    --q-character-color: #5554A2;
    --q-character-color__light: #5554A2;
    --q-character-color__dark: #5554A2;
}
[character="Tsukasa"] {
    --q-character-color: #952242;
    --q-character-color__light: #952242;
    --q-character-color__dark: #952242;
}
[character="Leo"] {
    --q-character-color: #ED6D52;
    --q-character-color__light: #ED6D52;
    --q-character-color__dark: #ED6D52;
}
[character="Izumi"] {
    --q-character-color: #BADBF2;
    --q-character-color__light: #BADBF2;
    --q-character-color__dark: #BADBF2;
}
[character="Ritsu"] {
    --q-character-color: #001E44;
    --q-character-color__light: #001E44;
    --q-character-color__dark: #001E44;
}
[character="Arashi"] {
    --q-character-color: #ECDF7B;
    --q-character-color__light: #ECDF7B;
    --q-character-color__dark: #ECDF7B;
}
[character="Natsume"] {
    --q-character-color: #D60132;
    --q-character-color__light: #D60132;
    --q-character-color__dark: #D60132;
}
[character="Tsumugi"] {
    --q-character-color: #00608D;
    --q-character-color__light: #00608D;
    --q-character-color__dark: #00608D;
}
[character="Sora"] {
    --q-character-color: #FFF353;
    --q-character-color__light: #FFF353;
    --q-character-color__dark: #FFF353;
}
[character="Madara"] {
    --q-character-color: #622D18;
    --q-character-color__light: #622D18;
    --q-character-color__dark: #622D18;
}
[character="Jin"] {
    --q-character-color: #8DA0B6;
    --q-character-color__light: #8DA0B6;
    --q-character-color__dark: #8DA0B6;
}
[character="Akiomi"] {
    --q-character-color: #915C8B;
    --q-character-color__light: #915C8B;
    --q-character-color__dark: #915C8B;
}
[character="Anzu"] {
    --q-character-color: #FFB6DA;
    --q-character-color__light: #FFB6DA;
    --q-character-color__dark: #FFB6DA;
}
[character="Seiya"] {
    --q-character-color: #292b3c;
    --q-character-color__light: #292b3c;
    --q-character-color__dark: #292b3c;
}
[character="Gatekeeper"] {
    --q-character-color: #5f2222;
    --q-character-color__light: #5f2222;
    --q-character-color__dark: #5f2222;
}
