/* STORY COVER */

.story-cover-wrapper {
    border-radius: 5px;
    background: transparent;
    padding-bottom: 0px;
    margin: 10px 0px;
}

.story-background-cover {
    justify-content:center;
    align-items:flex-end;
    overflow:hidden;
    height:fit-content;
    width:100%;
    border-radius:5px 5px 0px 0px;
}
.story-background-cover img {
    object-fit:cover;
    object-position:center;
    width:100%;
}

.story-infobox-wrapper{
    margin: -300px auto 0px;
    display: flex;
    justify-content: center;
    
}

.story-infobox-wrapper .portable-infobox[data-item-name="story-infobox"]{
    width: 100%;
    max-width: 900px;
    float:none;
    margin: 0px 20px 8px;
    display: flex;
    flex-wrap: wrap;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.3);
    padding-bottom: 10px;
}

.story-infobox-wrapper .portable-infobox[data-item-name="story-infobox"]::before{
    clip-path: inset(0px 0px 0px 0px round 5px);
}

.story-infobox-wrapper .portable-infobox[data-item-name="story-infobox"]::after{
    display: none;
}

.story-infobox-wrapper .portable-infobox[data-item-name="story-infobox"] h2.pi-header {
    margin: 0px 10px 5px;
    border-radius: 3px;
}


.story-infobox-wrapper .portable-infobox[data-item-name="story-infobox"] .pi-data-value:not(:first-child) {
    flex-grow: 1;
}


.story-infobox-wrapper .portable-infobox > section:nth-child(1){
    flex: 2 1;
    min-width: 300px;
}

.story-infobox-wrapper .portable-infobox > section:nth-child(2){
    flex: 1 1;
    min-width: 300px;
}

.story-infobox-wrapper .portable-infobox > section:nth-child(2) > div{
    border: none;
}

.story-infobox-wrapper [data-item-name="story-infobox-information"] > div {
    flex-wrap: wrap;
}

.story-infobox-wrapper [data-item-name="story-infobox-information"] > div > *{
    flex: 1 1 100%;
}

[data-source="Number"] {
    border: none;
    position: absolute;
    top: -100px;
    left: 150px;
    pointer-events: none;
}

[data-source="Number"] div {
    font: italic 900 100px Montserrat;
    color: var(--theme-infobox-main-color);
    opacity: 1;
    z-index: 0;
}

h2[data-source="Title"] {
    overflow: visible;
}

.story-cover {
    position: absolute;
    height: 150px;
    width: 120px;
    object-fit: cover;
    bottom: 6px;
    left: 15px;
    border-radius: 3px;
    box-shadow: 0 0px 3px 0 rgba(0,0,0,.6);
    overflow: hidden;
}

.story-cover img {
    height: 150px;
    width: 120px;
    object-fit: cover;
}

.story-cover .story-number {
    position: absolute;
    pointer-events: none;
    right: 0;
    bottom: -30px;
    font: italic 900 100px Montserrat;
    color: #0C195C;
    opacity: 1;
    z-index: 0;
    mix-blend-mode: color-burn;
}



.pi-title[data-source="Title"] {
    padding: 15px 15px 6px 150px;
    font: 700 20px Rubik;
    line-height: 1;
    color: var(--theme-page-text-color);
}

[data-source="Gallery"] > div {
    width: 100%;
}

.story-infobox-wrapper [data-item-name="story-infobox-gallery"] .wikia-gallery {
    padding: 0px 0px 9px;
    display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 12px;
}

.story-infobox-wrapper [data-item-name="story-infobox-gallery"] .wikia-gallery-item {
    padding: 0px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

.story-infobox-wrapper [data-item-name="story-infobox-gallery"] .wikia-gallery-item img {
    transition: 0.2s ease;
}

.story-infobox-wrapper [data-item-name="story-infobox-gallery"] .wikia-gallery-item:hover img {
    transform: scale(1.02);
}

.story-infobox-wrapper [data-item-name="story-infobox-gallery"] .wikia-gallery-item,
.story-infobox-wrapper [data-item-name="story-infobox-gallery"] .thumb,
.story-infobox-wrapper [data-item-name="story-infobox-gallery"] .thumb *

{
    width: 100% !important;
    height: auto !important;
}

.story-infobox-wrapper [data-item-name="story-infobox-gallery"] .gallery-image-wrapper {
    border: none;
}


.story-infobox-wrapper [data-item-name="story-infobox-gallery"] .wikia-gallery-item .lightbox-caption {
    margin: 5px 0px 0px;
    position: absolute;
    bottom: 0px;
    color: white;
    background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.7));
    padding: 20px 15px 6px;
    width: calc(100% - 30px) !important;
    transform: translateY(100%);
    transition: 0.2s ease;
}

.story-infobox-wrapper [data-item-name="story-infobox-gallery"] .wikia-gallery-item:hover .lightbox-caption {
    transform: translateY(0%);
}

.story-infobox-wrapper [data-item-name="story-infobox-chapters"] > div{
    flex: 1 1 100%;
}

.story-infobox-wrapper [data-item-name="story-infobox-chapters"] li {
    font: 700 16px Montserrat, 'Noto Sans JP', sans-serif;
    display: grid;
    margin: 0px 0px 15px;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: 5px;
    align-items: start;
}

.story-infobox-wrapper [data-item-name="story-infobox-chapters"] li::before{
    display: none;
}

.story-infobox-wrapper [data-item-name="story-infobox-chapters"] h3 {
    grid-column: 1 / -1;
    margin: 0px;
    font: 700 14px Rubik, 'Noto Sans JP', sans-serif;
}

.story-infobox-wrapper [data-item-name="story-infobox-chapters"]  a{
    font: 500 14px Rubik, 'Noto Sans JP', sans-serif;
    display: block;
    border-radius: 3px;
    transition: all 0.1s ease;
    background: rgba(var(--theme-link-color--rgb), 0.05);
    padding: 6px 10px;
}

.story-infobox-wrapper [data-item-name="story-infobox-chapters"] a:hover{
    background: rgba(var(--theme-link-color--rgb), 0.1);
}

.story-infobox-wrapper [data-item-name="story-infobox-chapters"] a.new{
    opacity:0.5;
    filter: saturate(0%);
}

.story-infobox-wrapper [data-item-name="story-infobox-chapters"] a.new::after{
    content: 'Not Translated';
    display: block;
    font-size: 0.8em;
}



.story-isMainStory .story-infobox-wrapper [data-item-name="story-infobox-chapters"] li {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.story-isMainStory .story-infobox-wrapper [data-item-name="story-infobox-chapters"]  a{
    padding: 10px 15px;
}