.character-render-icon {
    display: block;
    position: relative;
}

.character-render-full {
    display: none;
}

.character-render-icon {
    mask: top/100% auto no-repeat url('https://raw.githubusercontent.com/jeaoq/enstars-wiki/main/leo/images/tsukasus_image.png');
    background: #94C9DB;
    width: 100px;
}

.character-render-icon img[src*='ES'] {
    position: absolute;
    z-index: 1;
    left: 40px;
    top: 10px;
    width: 70px;
}

.character-render-icon [src*='top.png'],
.character-render-icon svg {
    position: relative;
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
    border-radius: 0px;

}

.character-render-icon [src*='top'] {
    position: absolute;
    z-index: 3;

}


.character-render-icon svg {
    z-index: 2;

}

.character-render-icon svg path {
    fill: var(--theme-color-character-color);

}

.article-table tr td::before {
    content: attr(alt);
    font:  22px Rubik;
    margin-bottom: 8px;
    color: white;
    -webkit-text-stroke: 1px black;
    display: block;
    text-align: center;
}


.article-table tr td::after {
    display: none;
}

/*

$('.character-render-icon').append(`<img src="https://raw.githubusercontent.com/jeaoq/enstars-wiki/main/leo/images/tsukasus_top.png">`);
$('.character-render-icon').append(`<svg width="318" height="408" viewBox="0 0 318 408" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M138.686 1.91758C134.836 2.87658 129.491 4.64358 126.809 5.84359C124.126 7.04359 121.381 8.02558 120.708 8.02558C118.744 8.02558 107.086 17.2986 102.186 22.7576C99.7106 25.5146 96.3666 29.9236 94.7546 32.5556C85.1206 48.2836 77.2956 77.2186 75.4946 103.776L74.9346 112.026L67.8106 112.068C58.9656 112.119 39.7096 116.005 35.6846 118.55C21.8686 127.287 17.7266 132.64 11.5616 149.723C6.06463 164.957 5.31063 168.285 3.00863 187.526C-0.00436568 212.7 -0.280367 265.077 2.53163 278.026C6.69763 297.209 11.4466 306.683 20.4856 313.847C23.8956 316.55 28.5726 319.717 30.8796 320.885C37.3266 324.151 49.3766 327.823 58.2036 329.211C67.3986 330.658 66.6306 329.296 67.6806 346.026C68.0086 351.251 68.9316 358.366 69.7316 361.838C70.5316 365.31 71.1856 369.29 71.1856 370.684C71.1856 374.603 80.0656 390.004 85.2426 395.065C87.7956 397.561 92.8736 401.075 96.5246 402.872C102.366 405.748 104.702 406.266 115.926 407.177C142.703 409.352 155.202 406.776 165.083 397.048C170.982 391.24 173.345 386.083 176.157 372.884C177.074 368.582 179.138 338.806 179.171 329.413L179.186 325.299L183.936 326.089C186.549 326.523 191.228 327.163 194.335 327.511L199.983 328.145L199.896 338.835C199.734 358.831 204.083 372.13 213.6 380.734C221.593 387.96 234.501 392.954 245.186 392.955C257.502 392.957 274.13 386.296 282.011 378.206C289.632 370.381 298.195 349.459 301.115 331.526C305.559 304.232 308.362 260.211 307.078 237.883C306.624 229.986 305.826 212.102 305.304 198.14L304.356 172.755L308.181 167.14C316.949 154.272 320.297 132.587 315.685 118.526C314.963 116.326 313.429 111.474 312.276 107.744C307.335 91.7646 299.407 81.2006 287.212 74.3446C283.177 72.0766 282.218 70.9856 281.691 68.0626C281.34 66.1176 277.86 58.1416 273.958 50.3386C267.834 38.0906 265.826 35.0786 259.275 28.3126C250.418 19.1646 239.986 13.2206 223.686 8.03458C218.186 6.28458 211.839 4.20459 209.581 3.41159C202.833 1.04259 189.928 0.0365855 167.186 0.106586C150.248 0.158586 144.201 0.542583 138.686 1.91758ZM281.877 95.6036C276.503 91.5046 264.567 87.0786 251.864 84.4756C245.362 83.1426 235.237 81.8566 229.364 81.6176C214.931 81.0296 191.009 82.6546 186.527 84.5276C184.555 85.3516 181.802 86.0256 180.409 86.0256C177.104 86.0256 170.704 92.7176 167.568 99.4516C165.576 103.73 165.208 106.094 165.22 114.526C165.227 120.026 165.671 126.326 166.206 128.526C166.74 130.726 167.624 135.537 168.17 139.217C168.715 142.897 169.892 147.622 170.785 149.717C177.364 165.16 182.164 169.902 194.506 173.152C210.206 177.287 258.203 174.148 273.793 167.967C286.165 163.061 290.419 158.983 294.128 148.476C296.503 141.749 297.11 129.457 295.341 123.949C291.012 110.473 289.845 107.287 287.669 102.992C286.319 100.329 283.713 97.0036 281.877 95.6036Z" fill="black"/>"></svg>`);



*/
