// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.notice{
    background: #99999918;
    padding: 20px;
    font-size: 0.8em;
    border-radius: 3px;
    border-left: 5px solid rgb(88, 88, 88);
}

.post .hidden{
    display: none;
}

hr{
    margin: 30px auto;
    max-width: 300px;
}
