i.hp-icon::before {
    content:'';
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    vertical-align: -0.15em;
    margin: 0em 0.1em;
    background-size: 100%;
}

i.hp-hiiropoint::before {
    background-image: url(https://cdn.discordapp.com/emojis/859624563252002886.png?v=1);
}

i.hp-junsweat::before {
    background-image: url(https://cdn.discordapp.com/emojis/759738665945268244.png?v=1);
}

i.hp-kaokun::before {
    background-image: url(https://cdn.discordapp.com/emojis/837382691098722374.png?v=1);
}

i.hp-jun::before {
    background-image: url(https://cdn.discordapp.com/emojis/719606252274974793.png?v=1);
}

i.hp-chiakichan::before {
    background-image: url(https://cdn.discordapp.com/emojis/837146299529691187.png?v=1);
}
